{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
    {% for bucket in buckets %}
        <div class="col s6 m4 l6">

            <div class="card hoverable small">
                <span class="card-title activator grey-text text-darken-4">{{ bucket.name }}</span>

            </div>

        </div>
    {% endfor %}
    </div>


    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">delete_forever</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">share</i></a></li>
        <li><a class="btn-floating green waves-effect waves-light modal-trigger" data-target="bucketFrom"><i class="material-icons">add</i></a></li>
      </ul>
    </div>

    <div id="bucketFrom" class="modal">
        <div class="modal-content">
            {% include "buckets/new_bucket.html"%}
        </div>
    </div>


</div>


{% endblock %}
