{% extends "base.html" %}

{% block content %}

<style>
    html,
    body,
    .login-box {
      height: 100%;
    }
</style>

<div class="valign-wrapper row login-box">
    <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
                <div class="content">
                    <span class="card-title">Enter credentials</span>

                    <div class="row">

                        <div class="input-field col s11">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form.username(size=32) }}
                            <label for="icon_prefix">{{ form.username.label }}</label>
                        </div>

                        <div class="input-field col s11">
                            <i class="material-icons prefix">fingerprint</i>
                            {{ form.password(size=32) }}
                            <label for="icon_prefix">{{ form.password.label }}</label>
                        </div>

                    </div>

                    <div class="card-action right-align">
                        <label>
                            {{ form.remember_me() }}
                           <span style="vertical-align: -6px;">{{ form.remember_me.label }}</span>
                        </label>
                       <button class="btn waves-effect waves-light right-align" type="submit" name="action">{{ form.submit() }}
                       <i class="material-icons right">send</i>
                       </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
